
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-image: url('/modern-pokemon.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@include mat.toolbar-overrides((
  standard-height: 48px,
  container-background-color: transparent,
));

  @include mat.form-field-overrides((
    container-height: 48px,
    outlined-hover-outline-color: white
  ));