<div class="browse-container">
  <div class="browse-layout">
    <div class="grid-section">
      @if (pokemonList.isLoading()) {
        <div class="loading-container">
          <mat-spinner />
        </div>
      }

      @if (pokemonList.error()) {
        <p class="error-message">Failed to load Pokemon. Please try again.</p>
      }
      @if (pokemonList.value(); as list) {
        <div class="pokemon-grid">
          @for (pokemon of list.results; track pokemon.name) {
            <app-pokemon-card
              [pokemon]="pokemon"
              (pokemonSelected)="onPokemonSelected($event)"
            />
          }
        </div>

        <div class="pagination">
          <button
            mat-raised-button
            [disabled]="!list.previous"
            (click)="onPreviousPage()"
          >
            Previous
          </button>
          <p class="result-count">
            {{ searchParams().offset + list.results.length }} /
            {{ list.count }} results
          </p>
          <button
            mat-raised-button
            [disabled]="!list.next"
            (click)="onNextPage()"
          >
            Next
          </button>
        </div>
      }
    </div>
    <div class="featured-section">
      <img
        [src]="featuredArtworkUrl"
        alt="Featured Artwork"
        class="featured-artwork"
      />
      <p class="featured-label">Who's that pokemon?</p>
    </div>
  </div>
</div>
